.sort-dropdown {
  position: relative;
}
.sort-btn {
  background: #000;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0;
  z-index: -1;
  cursor: pointer;
}
.sort-dropdown-choices {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 0 0 20px #000;
  text-transform: uppercase;
  width: 130px;
  height: 80px;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-30px);
}
.sort-dropdown-choices.active {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
  z-index: 5;
  transform: translateY(-5px);
}
.sort-dropdown-choices span {
  padding: 0.5rem;
  cursor: pointer;
}
.sort-dropdown-choices span:hover {
  background: rgb(233, 232, 232);
}
.low-to-high {
  border-bottom: 1px solid #000;
}

/* Media queries */
@media screen and (max-width: 1280px) {
  .sort-btn {
    margin-right: 1rem;
  }

  .sort-dropdown-choices {
    position: absolute;
    left: -15px;
    width: 130px;
    height: 80px;
  }
}
@media screen and (max-width: 540px) {
  .sort-btn {
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  .sort-dropdown-choices {
    left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .sort-btn {
    margin-left: 1rem;
  }
}
